<td>
    <a href="{{ path('app_back_' ~ entity ~ '_show', {'id': id}) }}" class="btn btn-primary btn-md mb-2" role="button" aria-disabled="true">
        Show</a>
    <a href="{{ path('app_back_' ~ entity ~ '_edit', {'id': id}) }}" class="btn btn-warning btn-md mb-2" role="button" aria-disabled="true">Edit</a>
</td>