{% extends 'base.html.twig' %}

{% block title %}Edit Casting
{% endblock %}

{% block body %}
	<h1>Edit Casting</h1>

	{{ include('back/casting/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
