{% extends 'base.html.twig' %}

{% block title %}Person index
{% endblock %}

{% block body %}

{% include 'back/partials/_table.html.twig' with { 'entity' : 'person' } %}

	<thead class="table-info">
		<tr>
			<th>Id</th>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for person in people %}
			<tr>
				<td>{{ person.id }}</td>
				<td>{{ person.firstname }}</td>
				<td>{{ person.lastname }}</td>
					{% include 'back/partials/_tableButtons.html.twig' with { 'entity' : 'person', 'id' : person.id }  %}
			</tr>
		{% else %}
			<tr>
				<td colspan="4">no records found</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<a href="{{ path('app_back_person_new') }}">Create new</a>

{% endblock %}
