{% extends 'base.html.twig' %}

{% block title %}Edit Movie
{% endblock %}

{% block body %}
	<h1>Edit Movie</h1>

	{{ include('back/movie/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
